amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.2
asgiref==3.12.1
asyncpg==0.31.0
attrs==26.1.0
billiard==4.2.4
blinker==1.9.0
boto3==1.43.94
botocore==1.43.94
celery==5.6.2
certifi==2026.6.17
channels==4.3.2
charset-normalizer==3.4.9
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
databases==0.9.0
dj-database-url==3.1.2
Django==6.0.7
django-redis==7.0.0
django-storages==1.14.6
django-stubs==6.0.7
django-stubs-ext==6.0.7
django-unfold==0.106.1
djangorestframework==3.17.1
djangorestframework-stubs==3.17.0
drf-spectacular==0.30.0
fastapi==0.139.2
greenlet==3.5.3
gunicorn==26.2.0
h11==0.16.0
idna==3.18
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
MarkupSafe==3.0.3
mistune==3.3.3
packaging==26.2
pillow==12.3.0
prompt_toolkit==3.0.53
psycopg2-binary==2.9.12
pydantic==2.13.4
pydantic_core==2.46.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
redis==8.0.1
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
s3transfer==0.19.2
six==1.17.0
SQLAlchemy==2.0.51
sqlparse==0.5.5
starlette==1.3.1
types-PyYAML==6.0.12.20260518
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
uritemplate==4.2.0
urllib3==2.7.0
uvicorn==0.51.0
vine==5.1.0
wcwidth==0.8.2
Werkzeug==3.1.8
whitenoise==6.12.0
